current/n8n-workflow.json
{
  "updatedAt": "2025-10-08T07:26:01.562Z",
  "createdAt": "2025-08-22T07:07:09.003Z",
  "id": "4AWzNbzfDnfDGMv9",
  "name": "mail agent - MAIN v2",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1344,
        512
      ],
      "id": "bdec0fc4-f37f-490a-9e46-38512b7917d2",
      "name": "get full message",
      "webhookId": "a7f015a6-787d-46d1-96e3-6283eb0ecec8",
      "credentials": {
        "gmailOAuth2": {
          "id": "8MeHBFEPONXp1Y4e",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $('single/batch processing').item.json.threadId }}",
        "labelIds": [
          "Label_6251854475347365526"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3952,
        624
      ],
      "id": "0feb3cf4-95fe-4e4c-8e41-ddeeae46deba",
      "name": "soft delete",
      "webhookId": "3dcaac0e-2782-4db7-8e52-3570389ece20",
      "credentials": {
        "gmailOAuth2": {
          "id": "8MeHBFEPONXp1Y4e",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "removeLabels",
        "threadId": "={{ $('single/batch processing').item.json.threadId }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4176,
        624
      ],
      "id": "4a0b5a3a-4067-41b5-b678-e37f34627c47",
      "name": "remove from inbox",
      "webhookId": "5917cad7-676e-4164-af89-db511dd68ad5",
      "credentials": {
        "gmailOAuth2": {
          "id": "8MeHBFEPONXp1Y4e",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"deleteIt\": true,\n  \"summary\": \"Diese Nachricht enthält Angebote über Sägen die 10% reduziert sind\",\n  \"subject\": \"Werbung von Sauter für Sägen\",\n  \"reason\": \"Warum soll Email gelöscht oder behalten werden\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2688,
        944
      ],
      "id": "15e94e60-395d-44b2-8617-6c1e495c5c17",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "tableId": "_mine_email_agent_v2",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "output",
              "fieldValue": "={{ $('keep or delete Agent').item.json.output }}"
            },
            {
              "fieldId": "input",
              "fieldValue": "={{ $('set data').item.json.data }}"
            },
            {
              "fieldId": "email_id",
              "fieldValue": "={{ $('single/batch processing').item.json.id }}"
            },
            {
              "fieldId": "thread_id",
              "fieldValue": "={{ $('single/batch processing').item.json.threadId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3056,
        720
      ],
      "id": "0c9bfc6a-8772-4fd3-92be-af6e5cb4834a",
      "name": "add as processed",
      "credentials": {
        "supabaseApi": {
          "id": "Tmxvwr35m8jir7WW",
          "name": "Supabase account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "q": "has:nouserlabels AND NOT (from:@gmail.com OR from:@googlemail.com OR from:@biller.de OR category:social) "
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        224,
        368
      ],
      "id": "73701838-6cac-4885-8f85-c9947ae8ffc8",
      "name": "get last emails",
      "webhookId": "719ebb81-0c5f-4b87-b858-cbd79fed95b4",
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "8MeHBFEPONXp1Y4e",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        176
      ],
      "id": "f8e6ef88-e3fa-49af-9ae3-91500d6aa15c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        560
      ],
      "id": "697ef585-4860-4788-b41b-1d4acc960ce9",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "8MeHBFEPONXp1Y4e",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2768,
        432
      ],
      "id": "dd6d0472-5875-4476-b887-4c8c54ff4489",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7kNNUNxSg83ojcSh",
          "name": "openAi---n8n-local---email-agent-prod"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $('single/batch processing').item.json.threadId }}",
        "labelIds": [
          "Label_1127460559169688972"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3952,
        816
      ],
      "id": "024ab1f0-082e-47a0-84b3-c24d4fc7447b",
      "name": "keep",
      "webhookId": "9ebaaa63-dc75-4528-b00e-9531e3fb373a",
      "credentials": {
        "gmailOAuth2": {
          "id": "8MeHBFEPONXp1Y4e",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "delete",
        "threadId": "={{ $('single/batch processing').item.json.threadId }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3952,
        432
      ],
      "id": "bce9c57d-471b-48ce-9694-99037e7c617a",
      "name": "real delete, use with caution",
      "webhookId": "24c76c0f-9bf5-45bd-ba65-eb55d59fc279",
      "credentials": {
        "gmailOAuth2": {
          "id": "8MeHBFEPONXp1Y4e",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "html": "={{ $json.body }}",
        "destinationKey": "body",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1792,
        512
      ],
      "id": "c8a901c2-180f-4717-a13d-621d829975bc",
      "name": "email body conversion for easier processing and less token usage"
    },
    {
      "parameters": {
        "path": "email-agent/restore",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        -400
      ],
      "id": "5ac83219-f1cc-4e5c-88ba-5a2902785759",
      "name": "restore deleted emails",
      "webhookId": "852b3a50-6558-4fef-9a39-cf09dd0afcc1"
    },
    {
      "parameters": {
        "path": "email-agent/delete",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        -592
      ],
      "id": "8067e7d0-f1cd-46b7-8742-323d7e6473be",
      "name": "delete kept emails",
      "webhookId": "88a793ff-45fa-471c-a6d5-bf1b3644ec2d"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Error: No `threadId` provided!",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        896,
        -592
      ],
      "id": "21f06cd8-7177-445f-ada4-94dd659c4a68",
      "name": "error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "22cd40f8-86c9-4336-8241-415d57cd0a3a",
              "leftValue": "={{ $json.threadId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            },
            {
              "id": "4c1d1dd0-7aff-4335-860a-774d4cd7c4f7",
              "leftValue": "={{ $json.threadId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        -400
      ],
      "id": "cf6c7dbe-e10a-4014-bb8f-fd78c67dd3cc",
      "name": "check for missing id"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $('create unified item').item.json.threadId }}",
        "labelIds": [
          "INBOX",
          "Label_1127460559169688972"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1568,
        -592
      ],
      "id": "d02949f5-77ac-4a7d-8231-32a0a57ceeb3",
      "name": "move to inbox and apply keep",
      "webhookId": "286233a2-9774-469a-8b5b-33442b72be39",
      "credentials": {
        "gmailOAuth2": {
          "id": "8MeHBFEPONXp1Y4e",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4fbf54e1-0712-40ab-b84a-a019cdadd416",
              "name": "action",
              "value": "deleted",
              "type": "string"
            },
            {
              "id": "b5c2c051-c191-4239-8de0-666c09dc8892",
              "name": "threadId",
              "value": "={{ $json.query.threadId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -592
      ],
      "id": "88bbcec1-36b6-4da4-a872-ecc47c7f0a56",
      "name": "set action \"deleted\""
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "508c0778-1e4d-4a37-867e-da8c649ae3fe",
              "name": "action",
              "value": "restored",
              "type": "string"
            },
            {
              "id": "299c3012-15f5-4be2-a8c3-75548d681cfa",
              "name": "threadId",
              "value": "={{ $json.query.threadId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -400
      ],
      "id": "df468271-6fa9-44c6-9e51-efee5126444a",
      "name": "set action \"restored\""
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "removeLabels",
        "threadId": "={{ $('create unified item').item.json.threadId }}",
        "labelIds": [
          "Label_6251854475347365526"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1792,
        -592
      ],
      "id": "1e40aca3-61c1-4637-9a65-a5980685426d",
      "name": "remove delte label",
      "webhookId": "0b2eab14-f1a9-4a06-b1c0-9ee175d0a48a",
      "credentials": {
        "gmailOAuth2": {
          "id": "8MeHBFEPONXp1Y4e",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $('create unified item').item.json.threadId }}",
        "labelIds": [
          "Label_6251854475347365526"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1568,
        -400
      ],
      "id": "1102d38b-e1bf-44a8-ab81-a6ca2a7f44c3",
      "name": "add delete label",
      "webhookId": "95bedb6d-d4b1-42e6-874c-6becb9e2b714",
      "credentials": {
        "gmailOAuth2": {
          "id": "8MeHBFEPONXp1Y4e",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "removeLabels",
        "threadId": "={{ $('create unified item').item.json.threadId }}",
        "labelIds": [
          "Label_1127460559169688972",
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1792,
        -400
      ],
      "id": "cd663269-e7ab-4452-bf7d-635e5971bf45",
      "name": "remove inbox and keep label",
      "webhookId": "07ac3fbb-c0a1-4428-ab33-ad8729242dc6",
      "credentials": {
        "gmailOAuth2": {
          "id": "8MeHBFEPONXp1Y4e",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('create unified item').item.json.action }} \"{{ $('get row').item.json.output.subject }}\" successfully",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2240,
        -400
      ],
      "id": "ee3f9799-263a-4d98-a80c-b04c541980d2",
      "name": "success"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c0381ff1-2518-436d-98c6-294f115eca07",
              "leftValue": "={{ $('keep or delete Agent').item.json.output.deleteIt }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3728,
        624
      ],
      "id": "6a857c68-bb11-4586-b9c3-bb00d74fa8ec",
      "name": "keep or delete"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('create unified item').item.json.action }}",
                    "rightValue": "restored",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "47bc644b-b75d-44d4-817b-c673d4c939d4"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "986a5bcb-42a8-4bdd-8956-2b6905aa0841",
                    "leftValue": "={{ $('create unified item').item.json.action }}",
                    "rightValue": "deleted",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6617817c-5eb4-4a86-85de-be0f5982dbd8",
                    "leftValue": "={{ $('create unified item').item.json.action }}",
                    "rightValue": "not_archived",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1120,
        -416
      ],
      "id": "d226bda1-5e38-4f1b-99d3-9eb4152d3371",
      "name": "route 'action'"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "_mine_email_agent_v2",
        "filters": {
          "conditions": [
            {
              "keyName": "thread_id",
              "condition": "eq",
              "keyValue": "={{ $('create unified item').item.json.threadId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_decision",
              "fieldValue": "={{ $('create unified item').item.json.action }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1344,
        -592
      ],
      "id": "a370a7c6-9788-42d9-a625-654df52305a0",
      "name": "set user action",
      "credentials": {
        "supabaseApi": {
          "id": "Tmxvwr35m8jir7WW",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        -416
      ],
      "id": "a3f091a4-be98-4e0e-a83a-aa108eac686a",
      "name": "create unified item"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "_mine_email_agent_v2",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('add as processed').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "post_id",
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3504,
        624
      ],
      "id": "7ffd56a3-183e-4087-b150-4f1a7fb9a054",
      "name": "set post id",
      "credentials": {
        "supabaseApi": {
          "id": "Tmxvwr35m8jir7WW",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "_mine_email_agent_v2",
        "filters": {
          "conditions": [
            {
              "keyName": "thread_id",
              "keyValue": "={{ $json.threadId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        896,
        -400
      ],
      "id": "87cfa17b-93a7-47ef-aed7-48a6528a905d",
      "name": "get row",
      "credentials": {
        "supabaseApi": {
          "id": "Tmxvwr35m8jir7WW",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resource": "reaction",
        "userId": "nuxrem9a87nijmyfiute5fo9ga",
        "postId": "={{ $('get row').item.json.post_id }}",
        "emojiName": ":leftwards_arrow_with_hook:"
      },
      "type": "n8n-nodes-base.mattermost",
      "typeVersion": 1,
      "position": [
        2016,
        -592
      ],
      "id": "865e0362-c00d-453c-b441-4de0283e0a0f",
      "name": "add keep emoji",
      "credentials": {
        "mattermostApi": {
          "id": "QJ7SVx2CdnLcok9T",
          "name": "n8n-agent bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "reaction",
        "userId": "nuxrem9a87nijmyfiute5fo9ga",
        "postId": "={{ $('get row').item.json.post_id }}",
        "emojiName": ":no_entry:"
      },
      "type": "n8n-nodes-base.mattermost",
      "typeVersion": 1,
      "position": [
        2016,
        -400
      ],
      "id": "0553c412-13cd-475c-941d-247eedc0918d",
      "name": "add delete emoji",
      "credentials": {
        "mattermostApi": {
          "id": "QJ7SVx2CdnLcok9T",
          "name": "n8n-agent bot"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        672,
        512
      ],
      "id": "e96d360e-ad76-42ed-bf7b-4e2eca4875e5",
      "name": "single/batch processing"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "get",
        "threadId": "={{ $json.threadId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        896,
        512
      ],
      "id": "4ece276d-f766-4af5-9763-3e5caf840e06",
      "name": "get thread for messages",
      "webhookId": "aeba0cdf-4a1c-4fd3-9fd0-9a9ee8ee74ee",
      "credentials": {
        "gmailOAuth2": {
          "id": "8MeHBFEPONXp1Y4e",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "channelId": "acyfpxppx7fe5pfeqpkrhhtj8y",
        "message": "={{ $json.output }}",
        "attachments": [],
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.mattermost",
      "typeVersion": 1,
      "position": [
        3056,
        320
      ],
      "id": "719beb3f-89df-4741-b905-66d516c1c3fa",
      "name": "post email summary",
      "credentials": {
        "mattermostApi": {
          "id": "QJ7SVx2CdnLcok9T",
          "name": "n8n-agent bot"
        }
      }
    },
    {
      "parameters": {
        "channelId": "acyfpxppx7fe5pfeqpkrhhtj8y",
        "message": "={{$json.output.deleteIt ? \"[GELÖSCHT](http://192.168.178.68:5678/webhook/email-agent/restore?threadId=\"+$('single/batch processing').item.json.threadId +\")\" : \"[Behalten](http://192.168.178.68:5678/webhook/email-agent/delete?threadId=\"+$('single/batch processing').item.json.threadId +\")\"  }}: {{ $json.output.subject }}\n{{ $json.output.summary }}\n({{ $json.output.reason }})\n[MEH](http://192.168.178.68:5678/webhook/email-agent/uninteresting?threadId={{$('single/batch processing').item.json.threadId}})",
        "attachments": [],
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.mattermost",
      "typeVersion": 1,
      "position": [
        3280,
        624
      ],
      "id": "9dae160b-0d45-431b-bce5-5b6b612f2078",
      "name": "post thread decision",
      "credentials": {
        "mattermostApi": {
          "id": "QJ7SVx2CdnLcok9T",
          "name": "n8n-agent bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79aaa3e8-288f-417e-9d53-076db5f5ce72",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "9b34215e-771d-4aed-9f9c-9c5d5a6b5c5e",
              "name": "date",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "78db453f-1436-4815-890d-94da09cd413d",
              "name": "sender",
              "value": "={{ $json.from.value }}",
              "type": "array"
            },
            {
              "id": "4e843ab6-c293-4afa-a378-55d3606c684d",
              "name": "body",
              "value": "={{ $json.html }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        512
      ],
      "id": "feff646a-a164-4093-bafd-e0677b978817",
      "name": "simplify mails"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2016,
        512
      ],
      "id": "d2ff021a-6dff-4a03-b435-81b5a37d5586",
      "name": "set data"
    },
    {
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1120,
        512
      ],
      "id": "bf4f5e09-0676-40b1-8a6e-4eb4370a1026",
      "name": "get messages"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3ef4fc1c-7add-46cd-a718-29f177149b79",
              "leftValue": "={{ $json.isAiManaged }}",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "91be246f-3f55-472b-a520-709b184318e8",
              "leftValue": "={{ $json.data }}",
              "rightValue": 2,
              "operator": {
                "type": "array",
                "operation": "lengthGte",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2464,
        512
      ],
      "id": "b6ec04c1-e561-4304-bf73-fbea43baa8cb",
      "name": "is multi message thread?",
      "notes": "When you get two mails of the same Gmail puts both into one thread. Therefore I check here that we still feed messages without our own label into AI. Only not seen multi thread emails get the short path"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Rolle\nDu bist ein hilfreicher Email Agent und antwortest immer auf deutsch.\n\n# Aufgabe\nFasse folgende Konversation in 50 Worten zusammen, fokussiere dich auf die letzte Email, für die vorherigen Nachrichten hat dein Benutzer schon jeweils eine Zusammenfassung erhalten.\n\n# Format\nBeginne deine Ausgabe entweder mit `WICHTIG:`, falls die neue Nachricht wichtig ist, andernfalls beginne mit `Nachricht:`. Danach kommt auf jeden Fall der Betreff \"{{$json.data.at(-1).subject}}\". Eine Leerzeile. Dann deine Zusammenfassung.\n\n# Kontext\n\n## Generell\nDas aktuelle Datum {{ $now.toString() }}\n\n## Emails\n{{ JSON.stringify($json.data) }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2704,
        208
      ],
      "id": "a631baab-f2ab-40b5-b1d5-82de432d550f",
      "name": "summarize last message in thread"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const isAiManaged = $(\"get thread for messages\").item.json.messages[0].labels.map(i => i.name).some(name => name.toLowerCase().match('ai-managed'))\n\nreturn {\n  isAiManaged,\n  ...$input.item.json,\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        512
      ],
      "id": "0fce51e7-94c8-497c-b0c1-c7bd89346d57",
      "name": "check ai-managed labels"
    },
    {
      "parameters": {
        "channelId": "acyfpxppx7fe5pfeqpkrhhtj8y",
        "message": "=privat von {{ $json.From }}\n{{ $json.Subject }}\n{{ $json.snippet }}",
        "attachments": [],
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.mattermost",
      "typeVersion": 1,
      "position": [
        3056,
        16
      ],
      "id": "cf5d68d3-2b28-4818-9794-fe57208defff",
      "name": "post private messages",
      "credentials": {
        "mattermostApi": {
          "id": "QJ7SVx2CdnLcok9T",
          "name": "n8n-agent bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "q": "has:nouserlabels AND NOT (category:social) ",
          "receivedAfter": "2025-08-13T00:00:00"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2768,
        16
      ],
      "id": "08dc0240-b521-4c18-82b0-67af4aea78c4",
      "name": "process mails hidden from AI",
      "webhookId": "719ebb81-0c5f-4b87-b858-cbd79fed95b4",
      "credentials": {
        "gmailOAuth2": {
          "id": "8MeHBFEPONXp1Y4e",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        368
      ],
      "id": "fb193d43-8c1e-4131-9dbe-ed865119ecca",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "41e4b8fa-006f-4a14-bdfd-e344e19e1952",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        368
      ],
      "id": "ac9a208d-934c-4a29-a0a6-225bb4f733ad",
      "name": "check private mails ONLY if no AI mail is available",
      "notes": "The private mail filter is less restrictive and therefore also includes the items which should be processed by the AI! Run this only when there is nothing left for the AI"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $json.threadId }}",
        "labelIds": [
          "Label_9066111927700058849"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3504,
        176
      ],
      "id": "f0364d80-09b6-475f-b5b1-e64406bf6064",
      "name": "mark as processed",
      "webhookId": "9ebaaa63-dc75-4528-b00e-9531e3fb373a",
      "credentials": {
        "gmailOAuth2": {
          "id": "8MeHBFEPONXp1Y4e",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65c13ccd-b832-4ca5-855c-260c0c189248",
              "name": "threadId",
              "value": "={{ $('process mails hidden from AI').item.json.threadId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3280,
        16
      ],
      "id": "e8363267-c59a-401f-971b-aa5d47500e89",
      "name": "set thread id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65c13ccd-b832-4ca5-855c-260c0c189248",
              "name": "threadId",
              "value": "={{ $('single/batch processing').item.json.threadId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3280,
        320
      ],
      "id": "1687f0d2-4873-4f80-a94c-7175341047df",
      "name": "set thread id2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Rolle\nDu bist ein hilfreicher Assistent für Emails und antwortest immer auf deutsch.\n\n# Aufgabe\nDu schaust dir die Email Daten am Schluss dieser Nachricht an und überlegst dir folgende Schritte zur Bearbeitung:\n1. behalten oder löschen\n2. Inhalt zusammen fassen\n3. Ausgabe konstruieren\n\nEs folgend Details zu den einzelnen Schritten\n\n# Schritt: Behalten oder Löschen\nOb eine Email behalten oder gelöscht werden soll, ergibt sich aus mehreren Faktoren, die gegeneinander abgewogen werden müssen. Generell ist es so, dass von einem Absender oft Werbung kommt, die uninteressant ist, aber auch wichtige Dinge wie eine Verlängerung von einem Abonnement oder eine Bestellung. Es gilt deshalb, wichtige von unwichtigen Emails zu separieren.\n\n## Generelle Regeln\n\n### Löschen\n*   Generell Werbung; Ausnahmen sind unten unter \"Behalten\" aufgeführt.\n*   Phishing.\n*   reine Gewinnspiele\n*   Änderungen von Geschäftsbedingungen, die nicht deine Zustimmung erfordern, sondern nur zur Kenntnis genommen werden müssen.\n*   **Wichtig:** Ankündigungen von Lieferungen oder dass Pakete versendet wurden (z.B. von DHL, Amazon). Diese sollen **immer** gelöscht werden. Die Zusammenfassung muss jedoch die wichtigen Details enthalten.\n*   Informationen von Streaminganbietern wie Netflix über neue oder gelöschte Titel. Die Details in der Zusammenfassung sind hier aber entscheidend.\n*   Regelmäßige, rein informative Konto- oder Statusübersichten (z.B. von Banken, Finanz-Apps), bei denen die Zusammenfassung der Kernaussagen für den Nutzer ausreicht.\n\n### Behalten\n*   Nachrichten, die unbedingt eine Antwort erwarten.\n*   Wichtige Emails wie konkrete Vertragsänderungen, die eine Aktion (z.B. Zustimmung) erfordern.\n*   Rechnungen und finale Bestellbestätigungen.\n*   Benachrichtigungen, dass Zahlungen geleistet wurden oder Guthaben aufgeladen wurde (z.B. Audible).\n*   Werbung mit einem außergewöhnlich hohen (größer 20%) oder zeitkritischen Rabatt (z.B. \"nur heute\", \"25% auf alles\", \"6 statt 40€\").\n*   Ankündigungen für neue, interessante Produkte oder Dienstleistungen, insbesondere aus den Bereichen Tech, Werkzeuge und Brettspiele.\n\n## Absender-spezifische Regeln\nHier sind spezifische Anweisungen, die basierend auf Nutzerfeedback für bestimmte Absender gelten:\n\n*   **AI Revolution (R0-B3RT) / Tina Huang (Lonely Octopus):** E-Mails, die konkrete, sofort anwendbare Anleitungen oder 'How-To'-Guides zu KI-Themen enthalten, sollen behalten werden. Reine Werbe-E-Mails, die nur einen zukünftigen Kurs anpreisen (z.B. \"Faceless Empire\"), sowie Updates zu Wartelisten oder ausverkauften Kursen können gelöscht werden.\n*   **Amazon (Spar-Abo & Alexa/Gerätebenachrichtigungen):** Ankündigungen für bevorstehende Spar-Abo-Lieferungen sowie automatische Benachrichtigungen über niedrigen Tinten- oder Batteriestand sollen gelöscht werden. Die Zusammenfassung muss alle relevanten Details (Artikel, Preis, Lieferdatum, letzter Tag für Änderungen, Ersatzprodukt) enthalten.\n*   **Asmodee / Board Game Circus / Frosted Games:** E-Mails zu Brettspielen behalten, es sei denn, es handelt sich explizit um Solospiele oder kompetitive Spiele.\n*   **Audible.de:** Benachrichtigungen über neues Guthaben sind als quasi-Rechnung zu behandeln und sollen behalten werden.\n*   **Bambu Lab:** Angebote und zeitkritische Gutscheine behalten. Reine 'Freunde werben'-Aktionen (Referral-Programme) löschen.\n*   **Bondora Capital / Estateguru:** Regelmäßige Kontoübersichten und Gewinnspiel-Ankündigungen können gelöscht werden. Die Zusammenfassung muss alle wichtigen Finanzkennzahlen enthalten. Nachrichten über bald anfallende Gebühren müssen unbedingt behalten werden.\n*   **Bosch DIY / Extrudr:** Angebote mit signifikanten, zeitlich begrenzten Rabatten (z.B. 20% oder mehr) sollen behalten werden.\n*   **DataCamp (The Median):** Newsletter können gelöscht werden. Die Zusammenfassung soll die Kernaussagen zu den KI-News enthalten.\n*   **DICTUM / Sautershop / Mikes Toolshop:** Newsletter, die einen **neuen Hauptkatalog** oder **neue Produkte** ankündigen, sollen behalten werden. Angebote mit besonders hohen oder überdurchschnittlichen Rabatten (z.B. 30% statt der üblichen 20%) ebenfalls behalten. Standard-Wochenangebote können gelöscht werden.\n*   **Feinewerkzeuge.de:** Rabatte mit 20% oder weniger können gelöscht werden, außer es handelt sich um Produkte die über 150€ kosten.\n*   **DocMorris:** E-Mails mit Punktestand-Updates, Einlöse-Aufforderungen können gelöscht werden. Konkreten, zeitkritischen Gutscheinen sollen behalten werden. Versandbestätigungen und Benachrichtigungen, dass die Rechnung nur online verfügbar ist und wichtige Ärztliche Dokumente online bereit stehen, sollen gelöscht werden.\n*   **egghead.io:** Ankündigungen für Kurse und Workshops können gelöscht werden. KI News müssen zusammen gefasst werden, jedes angesprochene Thema muss zumindest kurz erwähnt werden um einen vollständigen Überblick der Mail zu geben. In diesem Fall dürfen auch 100 Wörten verwendet werden für die Zusammenfassung.\n*   **F.A.Z. PRO / Frankfurter Allgemeine Zeitung (FAZ):** Newsletter können gelöscht werden; die Zusammenfassung muss die wichtigsten Themen/Analysen enthalten. Angebote für Abonnements mit außergewöhnlich hohem Rabatt behalten. Eingangsbestätigungen, die 'noch keine verbindliche Annahme' darstellen, löschen.\n*   **Giesswein:** E-Mails, die ein *neues* Produkt vorstellen, sollen behalten werden. Reine Rabattaktionen können gelöscht werden, müssen aber korrekt zusammen gefasst werden falls etwas interessantes dabei ist sehe ich dann durch die Benachrichtigung.\n*   **HueForge:** Ankündigungen für neue Produkte oder Plugins sollen behalten werden.\n*   **LinkedIn / XING:** Wöchentliche Übersichten und Angebote für Premium-Probeabos können gelöscht werden; eine Zusammenfassung der Jobvorschläge und ungelesenen Nachrichten ist ausreichend. E-Mails, die auf **konkrete, ungelesene Nachrichten** hinweisen, sollen behalten werden.\n*   **n8n Community:** Ankündigungen für Livestreams, Meetups oder Event-Zusammenfassungen können gelöscht werden.\n*   **PAYBACK:** Newsletter mit einer konkreten, dringenden Warnung vor dem Punkteverfall **meiner Punkte** soll behalten werden. In den Mails steht oft das ungesicherte Punkte am 30.9. verfallen, das ist eine generelle Information. Gutschriften nach einem Einkauf und Bestätigungen über Punkteeinlösungen können gelöscht werden. Extra Punkte Aktionen können gelöscht werden, es muss aber in der Zusammenfassung stehen für was man extra Punkte bekommt.\n*   **Patreon / Hoocho:** Updates von Hoocho zu *Hydroponik*-Projekten oder wichtigen *Fixes* (z.B. 'Drive Sharing Now Fixed') behalten. Updates zu Imkerei-Themen löschen. Allgemeine 'Posts from...'-Newsletter von Patreon können gelöscht werden.\n*   **Perplexity:** E-Mails, die neue Produkte oder Features (wie 'Comet') vorstellen, sollen behalten werden. Automatisierte Berichte zu Suchanfragen können gelöscht werden, wenn die Zusammenfassung die Kernaussagen enthält.\n*   **selbst.de:** Newsletter mit DIY-Anleitungen und Tipps können gelöscht werden. Eine Zusammenfassung der Hauptthemen (z.B. 'Kaminholzlager bauen', 'Heizkörper reinigen') ist ausreichend.\n*   **Semaphore:** Release-Notes und Updates können gelöscht werden. Mails zu neuen Features sollen behalten werden.\n*   **Shoop:** Bestätigungen über erhaltenes Cashback und Monatsübersichten löschen; der Betrag und der Shop müssen in der Zusammenfassung klar ersichtlich sein. Aktionen mit besonders hohen oder zeitkritischen Cashback-Raten (z.B. 'NUR HEUTE', 'bis zu 30%') sollen behalten werden.\n*   **Spielvertiefung:** Newsletter der Formate 'Flaschenpost' und 'Breitseite' (Podcast) können grundsätzlich gelöscht werden. Rezensionen und Artikel ebenfalls löschen. Die Zusammenfassung ist hier entscheidend. Nur wichtige, außergewöhnliche Ankündigungen (z.B. neue Erweiterung für ein bekanntes Spiel) sind ein Grund zum Behalten.\n*   **Spotify:** E-Mails zu Preisänderungen, die eine Zustimmung erfordern, müssen behalten werden.\n*   **Steam:** Benachrichtigungen, dass ein Artikel auf der Wunschliste im Angebot ist, sollen behalten werden.\n*   **tado°:** Warnungen über niedrigen Batteriestand können gelöscht werden. Die Zusammenfassung muss das betroffene Gerät und den Raum nennen.\n*   **Trakt Forums:** Wöchentliche Zusammenfassungen ('Summary') können gelöscht werden.\n*   **VIDEOBUSTER:** Angebote behalten, wenn sie einen signifikanten Rabatt (z.B. 25% oder mehr) enthalten und zeitlich begrenzt sind.\n*   **Volksbank / Sparkasse:** Benachrichtigungen über neue Dokumente (z.B. Kontoauszüge) im Online-Postfach können gelöscht werden. Die Zusammenfassung muss klar angeben, welche Art von Dokumenten bereitgestellt wurde.\n\n# Schritt: Zusammenfassung\nHier einige Verhaltensregeln, um E-Mails für das Ausgabefeld `summary` zusammenzufassen.\n\n*   **Allgemein:** Fasse die E-Mail mit maximal 50 Worten in präziser Form zusammen. Absender-spezifische Regeln können dieses Limit ändern. Wichtig ist aber, dass Details nicht verloren gehen. Gib so viele wie möglich an, die wichtig sind. Statt \"10% auf Werkzeuge\" ist \"10% auf Sägen von Star\" besser. Statt \"Neue Filme auf Amazon Prime\" ist \"Neue Filme: Witch, Wick 2, Hamilton\".\n*   **Werbung:** Neue Artikel sind interessant. Liste diese auf. Bei Rabatten gib an, was reduziert ist. Falls die Aufzählung zu lang wird, nenne die Produktkategorie.\n*   **Lieferankündigungen:** Nenne immer den Absender der Sendung, die Sendungsnummer und das voraussichtliche Lieferdatum.\n*   **Finanzen/Punkte:** Nenne immer den konkreten Betrag oder Punktestand (z.B. \"Cashback von 5,52 € verfügbar\", \"Kontostand 37.386 °P\").\n*   **Streamingdienste:** Werden Titel aus dem Angebot gelöscht, müssen alle aufgelistet werden. Genau so bei neuen Titeln müssen alle aufgelistet werden.\n*   **Anleitungen/Tipps (z.B. Steve Ramsey, selbst.de):** Fasse die Kernaussagen der Tipps oder Anleitungen auf Deutsch zusammen.\n\n# Schritt: Ausgabe\nKonstruiere ein JSON, das exakt so aussieht:\n\n{\n  \"deleteIt\": true,\n  \"summary\": \"Diese Nachricht enthält Angebote über Sägen die 10% reduziert sind\",\n  \"subject\": \"Werbung von Sauter für Sägen\",\n  \"reason\": \"Warum soll Email gelöscht oder behalten werden\"\n}\n\n*   `deleteIt`: `true` (löschen) oder `false` (behalten).\n*   `subject`: Prägnante Tagline. Muss den Absender/die Marke enthalten.\n*   `summary`: Die Zusammenfassung gemäß den obigen Regeln.\n*   `reason`: Kurze, stichhaltige Begründung für die `deleteIt`-Entscheidung.\n\nJeglicher Text darf Markdown Formatierung enthalten. Ist die Ausgabe auf eine Anzahl von Worten beschränkt, gilt diese nur für den Text eines Hyperlinks, nicht für die URL.\n\n# Kontext\n\nDas Datum und Uhrzeit von heute: {{ $now.toString() }}\n\n## Email Daten\n{{ JSON.stringify($json.data) }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2704,
        720
      ],
      "id": "1d4760c4-a1d7-42fe-a3a7-5eaca7d009f4",
      "name": "keep or delete Agent"
    },
    {
      "parameters": {
        "channelId": "acyfpxppx7fe5pfeqpkrhhtj8y",
        "message": "=:warning: {{ $json.error }}\n\n{{ $json.output.subject }} \n\n{{ $json.output.summary }}",
        "attachments": [],
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.mattermost",
      "typeVersion": 1,
      "position": [
        3504,
        816
      ],
      "id": "d2d526a7-5885-41a5-9d58-fa178ce10733",
      "name": "post error",
      "credentials": {
        "mattermostApi": {
          "id": "QJ7SVx2CdnLcok9T",
          "name": "n8n-agent bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $('create unified item').item.json.threadId }}",
        "labelIds": [
          "Label_6251854475347365526"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1568,
        -208
      ],
      "id": "119e9341-a3cb-4914-b733-37b3a045f7a1",
      "name": "add delete label1",
      "webhookId": "95bedb6d-d4b1-42e6-874c-6becb9e2b714",
      "credentials": {
        "gmailOAuth2": {
          "id": "8MeHBFEPONXp1Y4e",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "removeLabels",
        "threadId": "={{ $('create unified item').item.json.threadId }}",
        "labelIds": [
          "Label_1127460559169688972",
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1792,
        -208
      ],
      "id": "b2c854b6-50b9-4aa4-a96e-8d8887e148f2",
      "name": "remove inbox and keep label1",
      "webhookId": "07ac3fbb-c0a1-4428-ab33-ad8729242dc6",
      "credentials": {
        "gmailOAuth2": {
          "id": "8MeHBFEPONXp1Y4e",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "_mine_email_agent_v2",
        "filters": {
          "conditions": [
            {
              "keyName": "thread_id",
              "condition": "eq",
              "keyValue": "={{ $('create unified item').item.json.threadId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_decision",
              "fieldValue": "={{ $('create unified item').item.json.action }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1344,
        -400
      ],
      "id": "826e11fa-a253-4caa-819a-4150a0ec9f71",
      "name": "set user action1",
      "credentials": {
        "supabaseApi": {
          "id": "Tmxvwr35m8jir7WW",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e78e1b42-e6e5-45c4-9b1d-69060dc0f496",
              "leftValue": "={{ $json.error }}",
              "rightValue": "duplicate key value violates unique constraint \"_mine_email_agent_v2_email_id_key\"",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3280,
        816
      ],
      "id": "e34f9a6c-6c2d-46a2-b25d-51e9c61018a7",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "reaction",
        "userId": "nuxrem9a87nijmyfiute5fo9ga",
        "postId": "={{ $('get row').item.json.post_id }}",
        "emojiName": ":x:"
      },
      "type": "n8n-nodes-base.mattermost",
      "typeVersion": 1,
      "position": [
        2016,
        -208
      ],
      "id": "1cecade1-c105-4b80-a97a-ed4120646c9e",
      "name": "add not_archived emoji",
      "credentials": {
        "mattermostApi": {
          "id": "QJ7SVx2CdnLcok9T",
          "name": "n8n-agent bot"
        }
      }
    },
    {
      "parameters": {
        "path": "email-agent/uninteresting",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        -208
      ],
      "id": "5d524508-4112-4042-9e11-e8e71b2919d2",
      "name": "delete not_archived mail",
      "webhookId": "88a793ff-45fa-471c-a6d5-bf1b3644ec2d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4fbf54e1-0712-40ab-b84a-a019cdadd416",
              "name": "action",
              "value": "not_archived",
              "type": "string"
            },
            {
              "id": "b5c2c051-c191-4239-8de0-666c09dc8892",
              "name": "threadId",
              "value": "={{ $json.query.threadId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -208
      ],
      "id": "bf7ec288-99dd-4d41-a063-e2e85c82f4ad",
      "name": "set action \"not archived\""
    }
  ],
  "connections": {
    "get full message": {
      "main": [
        [
          {
            "node": "simplify mails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "soft delete": {
      "main": [
        [
          {
            "node": "remove from inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "remove from inbox": {
      "main": [
        []
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "keep or delete Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "add as processed": {
      "main": [
        [
          {
            "node": "post thread decision",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get last emails": {
      "main": [
        [
          {
            "node": "check private mails ONLY if no AI mail is available",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "get last emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "get last emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "keep or delete Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "summarize last message in thread",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "real delete, use with caution": {
      "main": [
        []
      ]
    },
    "email body conversion for easier processing and less token usage": {
      "main": [
        [
          {
            "node": "set data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "restore deleted emails": {
      "main": [
        [
          {
            "node": "set action \"restored\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete kept emails": {
      "main": [
        [
          {
            "node": "set action \"deleted\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check for missing id": {
      "main": [
        [
          {
            "node": "error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "move to inbox and apply keep": {
      "main": [
        [
          {
            "node": "remove delte label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set action \"deleted\"": {
      "main": [
        [
          {
            "node": "create unified item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set action \"restored\"": {
      "main": [
        [
          {
            "node": "create unified item",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "remove delte label": {
      "main": [
        [
          {
            "node": "add keep emoji",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "remove inbox and keep label": {
      "main": [
        [
          {
            "node": "add delete emoji",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add delete label": {
      "main": [
        [
          {
            "node": "remove inbox and keep label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "keep or delete": {
      "main": [
        [
          {
            "node": "soft delete",
            "type": "main",
            "index": 0
          },
          {
            "node": "real delete, use with caution",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "keep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "route 'action'": {
      "main": [
        [
          {
            "node": "set user action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set user action1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add delete label1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set user action": {
      "main": [
        [
          {
            "node": "move to inbox and apply keep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create unified item": {
      "main": [
        [
          {
            "node": "check for missing id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set post id": {
      "main": [
        [
          {
            "node": "keep or delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get row": {
      "main": [
        [
          {
            "node": "route 'action'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add keep emoji": {
      "main": [
        [
          {
            "node": "success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add delete emoji": {
      "main": [
        [
          {
            "node": "success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "single/batch processing": {
      "main": [
        [
          {
            "node": "get thread for messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get thread for messages": {
      "main": [
        [
          {
            "node": "get messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "post thread decision": {
      "main": [
        [
          {
            "node": "set post id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "simplify mails": {
      "main": [
        [
          {
            "node": "email body conversion for easier processing and less token usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set data": {
      "main": [
        [
          {
            "node": "check ai-managed labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get messages": {
      "main": [
        [
          {
            "node": "get full message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "summarize last message in thread": {
      "main": [
        [
          {
            "node": "post email summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is multi message thread?": {
      "main": [
        [
          {
            "node": "summarize last message in thread",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "keep or delete Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check ai-managed labels": {
      "main": [
        [
          {
            "node": "is multi message thread?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "process mails hidden from AI": {
      "main": [
        [
          {
            "node": "post private messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "get last emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "post private messages": {
      "main": [
        [
          {
            "node": "set thread id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check private mails ONLY if no AI mail is available": {
      "main": [
        [
          {
            "node": "process mails hidden from AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "single/batch processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "post email summary": {
      "main": [
        [
          {
            "node": "set thread id2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set thread id": {
      "main": [
        [
          {
            "node": "mark as processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set thread id2": {
      "main": [
        [
          {
            "node": "mark as processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "keep or delete Agent": {
      "main": [
        [
          {
            "node": "add as processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add delete label1": {
      "main": [
        [
          {
            "node": "remove inbox and keep label1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "remove inbox and keep label1": {
      "main": [
        [
          {
            "node": "add not_archived emoji",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set user action1": {
      "main": [
        [
          {
            "node": "add delete label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "post error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add not_archived emoji": {
      "main": [
        [
          {
            "node": "success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete not_archived mail": {
      "main": [
        [
          {
            "node": "set action \"not archived\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set action \"not archived\"": {
      "main": [
        [
          {
            "node": "create unified item",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Berlin",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "dEuG84nUCzOJ1pqc"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1774343066,
        "possibleDuplicates": [
          "19d1f1697f3cc060",
          "19d1efcf5839eb31"
        ]
      }
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8d785115-a455-4d9b-bcfb-6823c07e8a01",
  "activeVersionId": "8d785115-a455-4d9b-bcfb-6823c07e8a01",
  "versionCounter": 7437,
  "triggerCount": 5,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-08-22T07:07:09.003Z",
      "createdAt": "2025-08-22T07:07:09.003Z",
      "role": "workflow:owner",
      "workflowId": "4AWzNbzfDnfDGMv9",
      "projectId": "nmT0SwmOBcMSSjrJ",
      "project": {
        "updatedAt": "2025-06-20T17:46:29.047Z",
        "createdAt": "2025-06-20T16:49:38.296Z",
        "id": "nmT0SwmOBcMSSjrJ",
        "name": "Stefan Gojan <vollekannehoschi@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "26b124c4-10e1-4077-b4f9-ab2078022964"
      }
    }
  ]
}